{% extends 'metricTemplates/metricBase.html' %} {% set page_title = "HIPAA
Compliance" %} {% set page_route = "metrics.hipaa_compliance" %} {% block
metricContent %}
<div id="checkboxContainer_privacy" class="checkboxContainer">
  <br />
  <div class="checkboxContainerIndividual">
  <label class="material-checkbox">
    <input type="checkbox" name="hipaa identifier scan" onchange="toggleValue(this)" />
    <span class="checkmark"></span>
    <span>Scan for HIPAA Identifiers</span>
  </label>

  <ul class="metric-inputs" style="display: none;">
    <li>
      <label
          for="HIPAA identifiers for HIPAA compliance"
          style="padding: 10px; padding-left: 15px; min-width: 300px;"
          >Columns to scan for HIPAA Identifiers:</label
        >
      <div id="hipaa-identifiers-checkbox"></div>
    </li>
  </ul>
  <p>
  <em>
    Note: This scan detects <strong>8 key HIPAA-regulated identifiers</strong>,
    including potential Social Security Numbers (SSNs), email addresses,
    phone and fax numbers, IP addresses, URLs, VINs, and medical or account identifiers.
    It also incorporates <strong>geographic database validation</strong> to identify
    and flag potential US postal codes.
  </em>
</p>

</div>
</div>
{% endblock %}
