{% extends 'metricTemplates/metricBase.html' %} {% set page_title = "Class
Imbalance" %} {% set page_route = "classImbalance" %} {% block metricContent %}
<div id="checkboxContainer_classImbalance" class="checkboxContainer">
  <br />
  <div class="checkboxContainerIndividual">
    <label class="material-checkbox">
      <input
        type="checkbox"
        name="class imbalance"
        value="yes"
        onchange="toggleValue(this)"
      />
      <span class="checkmark"></span>
      Check class imbalance
      <span class="info-icon"
        >i
        <span class="info-text"
          >This option checks the distribution of the target feature and
          displays a pie chart highlighting the class imbalance in the dataset.
          <a
            href="{{ url_for('class_imbalance_docs') }}"
            target="_blank"
            style="color: #4a90e2; font-style: italic;"
            >See documentation</a
          ></span
        >
      </span>
    </label>

    <ul class="metric-inputs" style="display: none;">
      <li>
        <label
          for="target features for class imbalance"
          style="padding: 10px; padding-left: 15px; min-width: 300px;"
          >Target features:</label
        >
        <table id="classImbalanceFeaturesCheckbox"></table>
      </li>
      <li>
        <label
          for="distance metrics for class imbalance"
          style="padding: 10px; padding-left: 15px; min-width: 300px;"
          >Distance metrics:</label
        >
        <table id="classImbalanceDistanceCheckbox"></table>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
