<!-- Base HTML template for all metric pages to extend -->

<!DOCTYPE html>
<html lang="en" max-width: 100%>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metric.js') }}"></script>
    <script>
      var retrieveFileUrl = "{{ url_for('retrieve_uploaded_file') }}";
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>{{ page_title or "title" }}</title>
  </head>

  <body>
    <!-- Include universal elements -->
    {% include 'universalComponents.html'%}

    <h1>{{ page_title or "title" }}</h1>

    <!-- file info GUI -->
    <div id="metric-download-gui" class="metric-download-gui">
      <div
        id="metric-download-gui-fileName"
        class="metric-download-gui-fileName"
      >
        {% if uploaded_file_path %} File: {{ uploaded_file_name }} {% else %} No
        File Uploaded {% endif %}
      </div>
      {% if uploaded_file_path %}
      <!-- clear button: visible when file is uploaded, change form style to match-->
      <button
        type="button"
        class="clear-button"
        style="border: none;"
        onclick="clearFile()"
      >
        Clear Submission
      </button>
      {%else%}
      <button
        type="button"
        class="redirect-upload-button"
        style="border: none;"
        onclick="location.href='{{ url_for('upload_file') }}'"
      >
        Upload a File
      </button>
      {% endif %}
    </div>
    <div class="metric-page-container">
      <form
        id="uploadForm"
        method="post"
        enctype="multipart/form-data"
        action="{{ url_for(page_route) }}"
      >
        <!-- Placeholder for metric specific content -->
        {% block metricContent %}{% endblock%}

        <!-- Submit and return button -->
        <div id="formbuttonsContainer">
          <button class="animated-button" type="submit" onclick="submitForm();">
            <span>Submit</span>
            <span></span>
          </button>
          <button
            class="animated-button return"
            type="button"
            onclick="location.href='{{url_for('upload_file')}}'"
          >
            <span>Return</span>
            <span></span>
          </button>
        </div>
      </form>
    </div>

    <!-- Results -->
    <div id="resultContainer" style="display: none;"></div>
    <!-- Data summary table -->
    <div id="summaryStatistics"></div>
    <!-- Container for summary plots and statistics -->
    <div style="display: flex;">
      <!-- Histograms -->
      <div class="plot-container" id="histogramsContainer"></div>
      <!-- Visualizations Container -->
      <div class="plot-container" style="text-align: left;" id="metrics">
        <h2 style="text-align: center;">Metric Results</h2>
        <p>No data available yet. Please submit a request.</p>
        <div id="buttonsContainer" style="display: none;">
          <button type="button" id="downloadBtn" onclick="downloadJSON()">
            Download JSON
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
